
<h1>Resource Management of Patients and Machines</h1>

<h2>Registered Patients</h2>
{% if latest_registered_patients %}
    <ul>
    {% for patient in latest_registered_patients %}
        <li><a href="{% url 'resourceManager:patient_detail' patient.id %}">{{ patient.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No registered patients.</p>
{% endif %}



<h2>Machines</h2>

{% if latest_registered_patients %}
    <ul>
    {% for machine in machines %}
        <li>
          <p>Model: <a href="{% url 'resourceManager:machine_detail' machine.id %}">{{ machine.model }}</a> &nbsp; Location: {{machine.location}}</p>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No registered patients.</p>
{% endif %}


<a href="{% url 'admin:index' %}">Go to Admin page</a>

<h2>Projection</h2>

{% block content %}
  <div id="container" style="width: 45%;">
    <canvas id="pie-chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
  <script>

    var config = {
      type: 'bar',
      data: {
        datasets: [{
            data: {{ data_machinesUsed_today|safe }},
            backgroundColor: ["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)","rgb(153, 102, 255)","rgb(201, 203, 207)"],
            borderColor:["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)","rgb(153, 102, 255)","rgb(201, 203, 207)"],
            borderWidth:1,
          label: 'In use'
        },{
            data: {{ data_total_machines|safe }},
            backgroundColor: ["rgba(255, 99, 132, 0.2)","rgba(255, 159, 64, 0.2)","rgba(255, 205, 86, 0.2)","rgba(75, 192, 192, 0.2)","rgba(54, 162, 235, 0.2)","rgba(153, 102, 255, 0.2)","rgba(201, 203, 207, 0.2)"],
            borderColor:["rgb(255, 99, 132)","rgb(255, 159, 64)","rgb(255, 205, 86)","rgb(75, 192, 192)","rgb(54, 162, 235)","rgb(153, 102, 255)","rgb(201, 203, 207)"],
            borderWidth:1,
          label: 'Available'
        }
        ],
        labels: {{label_location_machines|safe }}
      },
      options: {
        responsive: true,
        scales: {
            xAxes: [{
                stacked: true,
            }],
            yAxes: [{
                ticks: {
                    min: 0
                },
                stacked: true,
            }]
        },
        title:{
            display:true,
            text:'Machines per unit'
        },
        //legend: { display: false },

      }
    };

    window.onload = function() {
      var ctx = document.getElementById('pie-chart').getContext('2d');
      window.myPie = new Chart(ctx, config);
    };

  </script>

{% endblock %}