{% extends "base.html" %}
{% block content %}
	<article class="media content-section">
	  <div class="media-body">
			<div class="article-metadata">
				<a href="{% url 'machine-update' machine.pk %}">Edit</a>
			</div>
			<div class="article-metadata">
				<h1>{{ machine.model }}</h1>
				<small class="text-muted">
					<h6>ID: {{ machine.id }}</h6>
					<p align="right">Location: {{machine.location}}</p>
				</small>
			</div>
			<p class="article-content">{{ machine.description }}</p>
	  </div>
	</article>
{% endblock content %}
