{% extends "base.html" %}
{% block content %}
	<article class="media content-section">
	  <div class="media-body">
			<div class="article-metadata">
				<a class="btn" href="{% url 'patient-update' patient.pk %}">Edit</a>
				<a class="btn" href="{% url 'patient-machinetype' patient.pk %}">Assign</a>
			</div>
			<div class="article-metadata">
				<h1>{{ patient.name }}</h1>
				<h6>ID: {{ patient.pk }}</h6>
				<small class="text-muted">
					<small>{{ patient.admission_date }}</small>
					<small>Severity: {{patient.severity}}</small>
				</small>
				<div>
					Machine:
					{% if machine %}
						<a href="{% url 'machine' machine.pk %}">{{ machine }}</a>
					{% else %}
						<a href="#">None</a>
					{% endif %}
				</div>
			</div>
			<p class="article-content">{{ patient.description }}</p>
			<hr>
			<h6>Severity history</h6>
			<div class="">
				{% for severity_time in history_severity %}
				<li>{{ severity_time.x }}: {{ severity_time.y }}</li>
				{% endfor %}
			</div>
	  </div>
	</article>
{% endblock content %}
