<!DOCTYPE html>
<html>
{% csrf_token %}
<script>
var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
</script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OSER</title>
</head>

<body>
    <div id="app">
        <!-- React will load here -->
    </div>
</body>
{% load static %}
<link rel="stylesheet" href="{% static "frontend/css/nucleo-icons.css" %}" />
<link rel="stylesheet" href="{% static "frontend/css/react-datepicker.css" %}" />

<script src="{% static "frontend/main.js" %}" />
</script>

</html>
